@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fzewxi');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fzewxi#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fzewxi') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fzewxi') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fzewxi##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nightar-f {
  &:before {
    content: $icon-nightar-f; 
  }
}
.icon-nightar {
  &:before {
    content: $icon-nightar; 
  }
}
.icon-app-store-apple {
  &:before {
    content: $icon-app-store-apple; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-arto {
  &:before {
    content: $icon-arto; 
  }
}
.icon-aws {
  &:before {
    content: $icon-aws; 
  }
}
.icon-baidu-paw {
  &:before {
    content: $icon-baidu-paw; 
  }
}
.icon-basecamp {
  &:before {
    content: $icon-basecamp; 
  }
}
.icon-bebo-social-network {
  &:before {
    content: $icon-bebo-social-network; 
  }
}
.icon-behance {
  &:before {
    content: $icon-behance; 
  }
}
.icon-bing {
  &:before {
    content: $icon-bing; 
  }
}
.icon-black-cloud {
  &:before {
    content: $icon-black-cloud; 
  }
}
.icon-blip {
  &:before {
    content: $icon-blip; 
  }
}
.icon-blogger-l {
  &:before {
    content: $icon-blogger-l; 
  }
}
.icon-bnter {
  &:before {
    content: $icon-bnter; 
  }
}
.icon-brightkite {
  &:before {
    content: $icon-brightkite; 
  }
}
.icon-cinch {
  &:before {
    content: $icon-cinch; 
  }
}
.icon-coroflot {
  &:before {
    content: $icon-coroflot; 
  }
}
.icon-creative-commons {
  &:before {
    content: $icon-creative-commons; 
  }
}
.icon-dailybooth {
  &:before {
    content: $icon-dailybooth; 
  }
}
.icon-delicious {
  &:before {
    content: $icon-delicious; 
  }
}
.icon-delicious1 {
  &:before {
    content: $icon-delicious1; 
  }
}
.icon-designbump {
  &:before {
    content: $icon-designbump; 
  }
}
.icon-designfloat {
  &:before {
    content: $icon-designfloat; 
  }
}
.icon-designmoo {
  &:before {
    content: $icon-designmoo; 
  }
}
.icon-deviantart-1 {
  &:before {
    content: $icon-deviantart-1; 
  }
}
.icon-deviantart {
  &:before {
    content: $icon-deviantart; 
  }
}
.icon-digg {
  &:before {
    content: $icon-digg; 
  }
}
.icon-digg-1 {
  &:before {
    content: $icon-digg-1; 
  }
}
.icon-diigo {
  &:before {
    content: $icon-diigo; 
  }
}
.icon-dislike {
  &:before {
    content: $icon-dislike; 
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble; 
  }
}
.icon-dribbble-1 {
  &:before {
    content: $icon-dribbble-1; 
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox; 
  }
}
.icon-drupal {
  &:before {
    content: $icon-drupal; 
  }
}
.icon-ebay {
  &:before {
    content: $icon-ebay; 
  }
}
.icon-ember {
  &:before {
    content: $icon-ember; 
  }
}
.icon-envato {
  &:before {
    content: $icon-envato; 
  }
}
.icon-etsy-letter {
  &:before {
    content: $icon-etsy-letter; 
  }
}
.icon-evernote {
  &:before {
    content: $icon-evernote; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook-1 {
  &:before {
    content: $icon-facebook-1; 
  }
}
.icon-factome {
  &:before {
    content: $icon-factome; 
  }
}
.icon-feedburner {
  &:before {
    content: $icon-feedburner; 
  }
}
.icon-flickr {
  &:before {
    content: $icon-flickr; 
  }
}
.icon-folkd {
  &:before {
    content: $icon-folkd; 
  }
}
.icon-formspring {
  &:before {
    content: $icon-formspring; 
  }
}
.icon-forrst {
  &:before {
    content: $icon-forrst; 
  }
}
.icon-foursquare {
  &:before {
    content: $icon-foursquare; 
  }
}
.icon-foursquare1 {
  &:before {
    content: $icon-foursquare1; 
  }
}
.icon-friendfeed {
  &:before {
    content: $icon-friendfeed; 
  }
}
.icon-gdgt {
  &:before {
    content: $icon-gdgt; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-github-s {
  &:before {
    content: $icon-github-s; 
  }
}
.icon-github-1 {
  &:before {
    content: $icon-github-1; 
  }
}
.icon-goodreads-l {
  &:before {
    content: $icon-goodreads-l; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-google-buzz {
  &:before {
    content: $icon-google-buzz; 
  }
}
.icon-google-drive {
  &:before {
    content: $icon-google-drive; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-google-talk {
  &:before {
    content: $icon-google-talk; 
  }
}
.icon-gowalla {
  &:before {
    content: $icon-gowalla; 
  }
}
.icon-gowalla-social {
  &:before {
    content: $icon-gowalla-social; 
  }
}
.icon-groupme {
  &:before {
    content: $icon-groupme; 
  }
}
.icon-hacker-news {
  &:before {
    content: $icon-hacker-news; 
  }
}
.icon-hangouts {
  &:before {
    content: $icon-hangouts; 
  }
}
.icon-happy {
  &:before {
    content: $icon-happy; 
  }
}
.icon-heart-black-shape-for-love {
  &:before {
    content: $icon-heart-black-shape-for-love; 
  }
}
.icon-hi5 {
  &:before {
    content: $icon-hi5; 
  }
}
.icon-hype-machine {
  &:before {
    content: $icon-hype-machine; 
  }
}
.icon-hyves-social-network {
  &:before {
    content: $icon-hyves-social-network; 
  }
}
.icon-icq-flower {
  &:before {
    content: $icon-icq-flower; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-instapaper {
  &:before {
    content: $icon-instapaper; 
  }
}
.icon-itunes {
  &:before {
    content: $icon-itunes; 
  }
}
.icon-kickstarter {
  &:before {
    content: $icon-kickstarter; 
  }
}
.icon-kik {
  &:before {
    content: $icon-kik; 
  }
}
.icon-kik-messenger {
  &:before {
    content: $icon-kik-messenger; 
  }
}
.icon-krop-l {
  &:before {
    content: $icon-krop-l; 
  }
}
.icon-lastfm {
  &:before {
    content: $icon-lastfm; 
  }
}
.icon-letter-p-symbol {
  &:before {
    content: $icon-letter-p-symbol; 
  }
}
.icon-like {
  &:before {
    content: $icon-like; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-linkedin-f {
  &:before {
    content: $icon-linkedin-f; 
  }
}
.icon-male {
  &:before {
    content: $icon-male; 
  }
}
.icon-meetup {
  &:before {
    content: $icon-meetup; 
  }
}
.icon-messenger {
  &:before {
    content: $icon-messenger; 
  }
}
.icon-metacafe {
  &:before {
    content: $icon-metacafe; 
  }
}
.icon-ming-circular-dots-lines {
  &:before {
    content: $icon-ming-circular-dots-lines; 
  }
}
.icon-mister-wong {
  &:before {
    content: $icon-mister-wong; 
  }
}
.icon-mixx {
  &:before {
    content: $icon-mixx; 
  }
}
.icon-mixx-dj-software {
  &:before {
    content: $icon-mixx-dj-software; 
  }
}
.icon-mobileme {
  &:before {
    content: $icon-mobileme; 
  }
}
.icon-msn-messenger {
  &:before {
    content: $icon-msn-messenger; 
  }
}
.icon-myspace {
  &:before {
    content: $icon-myspace; 
  }
}
.icon-myspace-1 {
  &:before {
    content: $icon-myspace-1; 
  }
}
.icon-myspace-social-network {
  &:before {
    content: $icon-myspace-social-network; 
  }
}
.icon-newsvine {
  &:before {
    content: $icon-newsvine; 
  }
}
.icon-officialfm {
  &:before {
    content: $icon-officialfm; 
  }
}
.icon-openid {
  &:before {
    content: $icon-openid; 
  }
}
.icon-orkut-l {
  &:before {
    content: $icon-orkut-l; 
  }
}
.icon-pandora-letter {
  &:before {
    content: $icon-pandora-letter; 
  }
}
.icon-path {
  &:before {
    content: $icon-path; 
  }
}
.icon-paypal {
  &:before {
    content: $icon-paypal; 
  }
}
.icon-pencil-of-gross {
  &:before {
    content: $icon-pencil-of-gross; 
  }
}
.icon-periscope {
  &:before {
    content: $icon-periscope; 
  }
}
.icon-photo {
  &:before {
    content: $icon-photo; 
  }
}
.icon-photobucket {
  &:before {
    content: $icon-photobucket; 
  }
}
.icon-picasa {
  &:before {
    content: $icon-picasa; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-ping {
  &:before {
    content: $icon-ping; 
  }
}
.icon-pingchat {
  &:before {
    content: $icon-pingchat; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-place {
  &:before {
    content: $icon-place; 
  }
}
.icon-playstation {
  &:before {
    content: $icon-playstation; 
  }
}
.icon-plixi {
  &:before {
    content: $icon-plixi; 
  }
}
.icon-plurk {
  &:before {
    content: $icon-plurk; 
  }
}
.icon-podcast {
  &:before {
    content: $icon-podcast; 
  }
}
.icon-qik {
  &:before {
    content: $icon-qik; 
  }
}
.icon-quora {
  &:before {
    content: $icon-quora; 
  }
}
.icon-rdio {
  &:before {
    content: $icon-rdio; 
  }
}
.icon-readernaut {
  &:before {
    content: $icon-readernaut; 
  }
}
.icon-reddit {
  &:before {
    content: $icon-reddit; 
  }
}
.icon-reddit-1 {
  &:before {
    content: $icon-reddit-1; 
  }
}
.icon-reddit-alien-head {
  &:before {
    content: $icon-reddit-alien-head; 
  }
}
.icon-retweet-arrows-couple {
  &:before {
    content: $icon-retweet-arrows-couple; 
  }
}
.icon-roboto {
  &:before {
    content: $icon-roboto; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-scribd {
  &:before {
    content: $icon-scribd; 
  }
}
.icon-sharethis {
  &:before {
    content: $icon-sharethis; 
  }
}
.icon-shark-fin {
  &:before {
    content: $icon-shark-fin; 
  }
}
.icon-simplenote-application {
  &:before {
    content: $icon-simplenote-application; 
  }
}
.icon-skype {
  &:before {
    content: $icon-skype; 
  }
}
.icon-slashdot-news {
  &:before {
    content: $icon-slashdot-news; 
  }
}
.icon-slideshare {
  &:before {
    content: $icon-slideshare; 
  }
}
.icon-smile {
  &:before {
    content: $icon-smile; 
  }
}
.icon-smugmug {
  &:before {
    content: $icon-smugmug; 
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat; 
  }
}
.icon-soundcloud {
  &:before {
    content: $icon-soundcloud; 
  }
}
.icon-speech-bubble {
  &:before {
    content: $icon-speech-bubble; 
  }
}
.icon-spotify {
  &:before {
    content: $icon-spotify; 
  }
}
.icon-spotify-1 {
  &:before {
    content: $icon-spotify-1; 
  }
}
.icon-squarespace {
  &:before {
    content: $icon-squarespace; 
  }
}
.icon-squidoo {
  &:before {
    content: $icon-squidoo; 
  }
}
.icon-steam {
  &:before {
    content: $icon-steam; 
  }
}
.icon-stumbleupon {
  &:before {
    content: $icon-stumbleupon; 
  }
}
.icon-stumbleupon-1 {
  &:before {
    content: $icon-stumbleupon-1; 
  }
}
.icon-team-viewer {
  &:before {
    content: $icon-team-viewer; 
  }
}
.icon-technorati {
  &:before {
    content: $icon-technorati; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-threewordsme {
  &:before {
    content: $icon-threewordsme; 
  }
}
.icon-tribenet {
  &:before {
    content: $icon-tribenet; 
  }
}
.icon-tripit {
  &:before {
    content: $icon-tripit; 
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr; 
  }
}
.icon-twitch {
  &:before {
    content: $icon-twitch; 
  }
}
.icon-twitter-l1 {
  &:before {
    content: $icon-twitter-l1; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-twitter-1 {
  &:before {
    content: $icon-twitter-1; 
  }
}
.icon-twitter-l {
  &:before {
    content: $icon-twitter-l; 
  }
}
.icon-viddler {
  &:before {
    content: $icon-viddler; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-vine {
  &:before {
    content: $icon-vine; 
  }
}
.icon-virb {
  &:before {
    content: $icon-virb; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-w3 {
  &:before {
    content: $icon-w3; 
  }
}
.icon-wattpad {
  &:before {
    content: $icon-wattpad; 
  }
}
.icon-whatsapp-f {
  &:before {
    content: $icon-whatsapp-f; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-wikipedia {
  &:before {
    content: $icon-wikipedia; 
  }
}
.icon-windows {
  &:before {
    content: $icon-windows; 
  }
}
.icon-wists {
  &:before {
    content: $icon-wists; 
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress; 
  }
}
.icon-wordpress-f {
  &:before {
    content: $icon-wordpress-f; 
  }
}
.icon-xing {
  &:before {
    content: $icon-xing; 
  }
}
.icon-yahoo {
  &:before {
    content: $icon-yahoo; 
  }
}
.icon-yahoo-1 {
  &:before {
    content: $icon-yahoo-1; 
  }
}
.icon-yahoo-buzz {
  &:before {
    content: $icon-yahoo-buzz; 
  }
}
.icon-yahoo-smiley {
  &:before {
    content: $icon-yahoo-smiley; 
  }
}
.icon-yelp {
  &:before {
    content: $icon-yelp; 
  }
}
.icon-youtube-play {
  &:before {
    content: $icon-youtube-play; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-zerply-l {
  &:before {
    content: $icon-zerply-l; 
  }
}
.icon-zootool {
  &:before {
    content: $icon-zootool; 
  }
}
.icon-zynga {
  &:before {
    content: $icon-zynga; 
  }
}

