@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fzewxi');
  src:  url('fonts/icomoon.eot?fzewxi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fzewxi') format('truetype'),
    url('fonts/icomoon.woff?fzewxi') format('woff'),
    url('fonts/icomoon.svg?fzewxi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nightar-f:before {
  content: "\e9b7";
}
.icon-nightar:before {
  content: "\e9b6";
}
.icon-app-store-apple:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-arto:before {
  content: "\e902";
}
.icon-aws:before {
  content: "\e903";
}
.icon-baidu-paw:before {
  content: "\e904";
}
.icon-basecamp:before {
  content: "\e905";
}
.icon-bebo-social-network:before {
  content: "\e906";
}
.icon-behance:before {
  content: "\e907";
}
.icon-bing:before {
  content: "\e908";
}
.icon-black-cloud:before {
  content: "\e909";
}
.icon-blip:before {
  content: "\e90a";
}
.icon-blogger-l:before {
  content: "\e90b";
}
.icon-bnter:before {
  content: "\e90c";
}
.icon-brightkite:before {
  content: "\e90d";
}
.icon-cinch:before {
  content: "\e90e";
}
.icon-coroflot:before {
  content: "\e90f";
}
.icon-creative-commons:before {
  content: "\e910";
}
.icon-dailybooth:before {
  content: "\e911";
}
.icon-delicious:before {
  content: "\e912";
}
.icon-delicious1:before {
  content: "\e913";
}
.icon-designbump:before {
  content: "\e914";
}
.icon-designfloat:before {
  content: "\e915";
}
.icon-designmoo:before {
  content: "\e916";
}
.icon-deviantart-1:before {
  content: "\e917";
}
.icon-deviantart:before {
  content: "\e918";
}
.icon-digg:before {
  content: "\e919";
}
.icon-digg-1:before {
  content: "\e91a";
}
.icon-diigo:before {
  content: "\e91b";
}
.icon-dislike:before {
  content: "\e91c";
}
.icon-dribbble:before {
  content: "\e91d";
}
.icon-dribbble-1:before {
  content: "\e91e";
}
.icon-dropbox:before {
  content: "\e91f";
}
.icon-drupal:before {
  content: "\e920";
}
.icon-ebay:before {
  content: "\e921";
}
.icon-ember:before {
  content: "\e922";
}
.icon-envato:before {
  content: "\e923";
}
.icon-etsy-letter:before {
  content: "\e924";
}
.icon-evernote:before {
  content: "\e925";
}
.icon-facebook:before {
  content: "\e926";
}
.icon-facebook-1:before {
  content: "\e927";
}
.icon-factome:before {
  content: "\e928";
}
.icon-feedburner:before {
  content: "\e929";
}
.icon-flickr:before {
  content: "\e92a";
}
.icon-folkd:before {
  content: "\e92b";
}
.icon-formspring:before {
  content: "\e92c";
}
.icon-forrst:before {
  content: "\e92d";
}
.icon-foursquare:before {
  content: "\e92e";
}
.icon-foursquare1:before {
  content: "\e92f";
}
.icon-friendfeed:before {
  content: "\e930";
}
.icon-gdgt:before {
  content: "\e931";
}
.icon-github:before {
  content: "\e932";
}
.icon-github-s:before {
  content: "\e933";
}
.icon-github-1:before {
  content: "\e934";
}
.icon-goodreads-l:before {
  content: "\e935";
}
.icon-google:before {
  content: "\e936";
}
.icon-google-buzz:before {
  content: "\e937";
}
.icon-google-drive:before {
  content: "\e938";
}
.icon-google-plus:before {
  content: "\e939";
}
.icon-google-talk:before {
  content: "\e93a";
}
.icon-gowalla:before {
  content: "\e93b";
}
.icon-gowalla-social:before {
  content: "\e93c";
}
.icon-groupme:before {
  content: "\e93d";
}
.icon-hacker-news:before {
  content: "\e93e";
}
.icon-hangouts:before {
  content: "\e93f";
}
.icon-happy:before {
  content: "\e940";
}
.icon-heart-black-shape-for-love:before {
  content: "\e941";
}
.icon-hi5:before {
  content: "\e942";
}
.icon-hype-machine:before {
  content: "\e943";
}
.icon-hyves-social-network:before {
  content: "\e944";
}
.icon-icq-flower:before {
  content: "\e945";
}
.icon-instagram:before {
  content: "\e946";
}
.icon-instapaper:before {
  content: "\e947";
}
.icon-itunes:before {
  content: "\e948";
}
.icon-kickstarter:before {
  content: "\e949";
}
.icon-kik:before {
  content: "\e94a";
}
.icon-kik-messenger:before {
  content: "\e94b";
}
.icon-krop-l:before {
  content: "\e94c";
}
.icon-lastfm:before {
  content: "\e94d";
}
.icon-letter-p-symbol:before {
  content: "\e94e";
}
.icon-like:before {
  content: "\e94f";
}
.icon-linkedin:before {
  content: "\e950";
}
.icon-linkedin-f:before {
  content: "\e951";
}
.icon-male:before {
  content: "\e952";
}
.icon-meetup:before {
  content: "\e953";
}
.icon-messenger:before {
  content: "\e954";
}
.icon-metacafe:before {
  content: "\e955";
}
.icon-ming-circular-dots-lines:before {
  content: "\e956";
}
.icon-mister-wong:before {
  content: "\e957";
}
.icon-mixx:before {
  content: "\e958";
}
.icon-mixx-dj-software:before {
  content: "\e959";
}
.icon-mobileme:before {
  content: "\e95a";
}
.icon-msn-messenger:before {
  content: "\e95b";
}
.icon-myspace:before {
  content: "\e95c";
}
.icon-myspace-1:before {
  content: "\e95d";
}
.icon-myspace-social-network:before {
  content: "\e95e";
}
.icon-newsvine:before {
  content: "\e95f";
}
.icon-officialfm:before {
  content: "\e960";
}
.icon-openid:before {
  content: "\e961";
}
.icon-orkut-l:before {
  content: "\e962";
}
.icon-pandora-letter:before {
  content: "\e963";
}
.icon-path:before {
  content: "\e964";
}
.icon-paypal:before {
  content: "\e965";
}
.icon-pencil-of-gross:before {
  content: "\e966";
}
.icon-periscope:before {
  content: "\e967";
}
.icon-photo:before {
  content: "\e968";
}
.icon-photobucket:before {
  content: "\e969";
}
.icon-picasa:before {
  content: "\e96a";
}
.icon-pin:before {
  content: "\e96b";
}
.icon-ping:before {
  content: "\e96c";
}
.icon-pingchat:before {
  content: "\e96d";
}
.icon-pinterest:before {
  content: "\e96e";
}
.icon-place:before {
  content: "\e96f";
}
.icon-playstation:before {
  content: "\e970";
}
.icon-plixi:before {
  content: "\e971";
}
.icon-plurk:before {
  content: "\e972";
}
.icon-podcast:before {
  content: "\e973";
}
.icon-qik:before {
  content: "\e974";
}
.icon-quora:before {
  content: "\e975";
}
.icon-rdio:before {
  content: "\e976";
}
.icon-readernaut:before {
  content: "\e977";
}
.icon-reddit:before {
  content: "\e978";
}
.icon-reddit-1:before {
  content: "\e979";
}
.icon-reddit-alien-head:before {
  content: "\e97a";
}
.icon-retweet-arrows-couple:before {
  content: "\e97b";
}
.icon-roboto:before {
  content: "\e97c";
}
.icon-rss:before {
  content: "\e97d";
}
.icon-scribd:before {
  content: "\e97e";
}
.icon-sharethis:before {
  content: "\e97f";
}
.icon-shark-fin:before {
  content: "\e980";
}
.icon-simplenote-application:before {
  content: "\e981";
}
.icon-skype:before {
  content: "\e982";
}
.icon-slashdot-news:before {
  content: "\e983";
}
.icon-slideshare:before {
  content: "\e984";
}
.icon-smile:before {
  content: "\e985";
}
.icon-smugmug:before {
  content: "\e986";
}
.icon-snapchat:before {
  content: "\e987";
}
.icon-soundcloud:before {
  content: "\e988";
}
.icon-speech-bubble:before {
  content: "\e989";
}
.icon-spotify:before {
  content: "\e98a";
}
.icon-spotify-1:before {
  content: "\e98b";
}
.icon-squarespace:before {
  content: "\e98c";
}
.icon-squidoo:before {
  content: "\e98d";
}
.icon-steam:before {
  content: "\e98e";
}
.icon-stumbleupon:before {
  content: "\e98f";
}
.icon-stumbleupon-1:before {
  content: "\e990";
}
.icon-team-viewer:before {
  content: "\e991";
}
.icon-technorati:before {
  content: "\e992";
}
.icon-telegram:before {
  content: "\e993";
}
.icon-threewordsme:before {
  content: "\e994";
}
.icon-tribenet:before {
  content: "\e995";
}
.icon-tripit:before {
  content: "\e996";
}
.icon-tumblr:before {
  content: "\e997";
}
.icon-twitch:before {
  content: "\e998";
}
.icon-twitter-l1:before {
  content: "\e999";
}
.icon-twitter:before {
  content: "\e99a";
}
.icon-twitter-1:before {
  content: "\e99b";
}
.icon-twitter-l:before {
  content: "\e99c";
}
.icon-viddler:before {
  content: "\e99d";
}
.icon-vimeo:before {
  content: "\e99e";
}
.icon-vine:before {
  content: "\e99f";
}
.icon-virb:before {
  content: "\e9a0";
}
.icon-vk:before {
  content: "\e9a1";
}
.icon-w3:before {
  content: "\e9a2";
}
.icon-wattpad:before {
  content: "\e9a3";
}
.icon-whatsapp-f:before {
  content: "\e9a4";
}
.icon-whatsapp:before {
  content: "\e9a5";
}
.icon-wikipedia:before {
  content: "\e9a6";
}
.icon-windows:before {
  content: "\e9a7";
}
.icon-wists:before {
  content: "\e9a8";
}
.icon-wordpress:before {
  content: "\e9a9";
}
.icon-wordpress-f:before {
  content: "\e9aa";
}
.icon-xing:before {
  content: "\e9ab";
}
.icon-yahoo:before {
  content: "\e9ac";
}
.icon-yahoo-1:before {
  content: "\e9ad";
}
.icon-yahoo-buzz:before {
  content: "\e9ae";
}
.icon-yahoo-smiley:before {
  content: "\e9af";
}
.icon-yelp:before {
  content: "\e9b0";
}
.icon-youtube-play:before {
  content: "\e9b1";
}
.icon-youtube:before {
  content: "\e9b2";
}
.icon-zerply-l:before {
  content: "\e9b3";
}
.icon-zootool:before {
  content: "\e9b4";
}
.icon-zynga:before {
  content: "\e9b5";
}
