$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-nightar-f: "\e9b7";
$icon-nightar: "\e9b6";
$icon-app-store-apple: "\e900";
$icon-apple: "\e901";
$icon-arto: "\e902";
$icon-aws: "\e903";
$icon-baidu-paw: "\e904";
$icon-basecamp: "\e905";
$icon-bebo-social-network: "\e906";
$icon-behance: "\e907";
$icon-bing: "\e908";
$icon-black-cloud: "\e909";
$icon-blip: "\e90a";
$icon-blogger-l: "\e90b";
$icon-bnter: "\e90c";
$icon-brightkite: "\e90d";
$icon-cinch: "\e90e";
$icon-coroflot: "\e90f";
$icon-creative-commons: "\e910";
$icon-dailybooth: "\e911";
$icon-delicious: "\e912";
$icon-delicious1: "\e913";
$icon-designbump: "\e914";
$icon-designfloat: "\e915";
$icon-designmoo: "\e916";
$icon-deviantart-1: "\e917";
$icon-deviantart: "\e918";
$icon-digg: "\e919";
$icon-digg-1: "\e91a";
$icon-diigo: "\e91b";
$icon-dislike: "\e91c";
$icon-dribbble: "\e91d";
$icon-dribbble-1: "\e91e";
$icon-dropbox: "\e91f";
$icon-drupal: "\e920";
$icon-ebay: "\e921";
$icon-ember: "\e922";
$icon-envato: "\e923";
$icon-etsy-letter: "\e924";
$icon-evernote: "\e925";
$icon-facebook: "\e926";
$icon-facebook-1: "\e927";
$icon-factome: "\e928";
$icon-feedburner: "\e929";
$icon-flickr: "\e92a";
$icon-folkd: "\e92b";
$icon-formspring: "\e92c";
$icon-forrst: "\e92d";
$icon-foursquare: "\e92e";
$icon-foursquare1: "\e92f";
$icon-friendfeed: "\e930";
$icon-gdgt: "\e931";
$icon-github: "\e932";
$icon-github-s: "\e933";
$icon-github-1: "\e934";
$icon-goodreads-l: "\e935";
$icon-google: "\e936";
$icon-google-buzz: "\e937";
$icon-google-drive: "\e938";
$icon-google-plus: "\e939";
$icon-google-talk: "\e93a";
$icon-gowalla: "\e93b";
$icon-gowalla-social: "\e93c";
$icon-groupme: "\e93d";
$icon-hacker-news: "\e93e";
$icon-hangouts: "\e93f";
$icon-happy: "\e940";
$icon-heart-black-shape-for-love: "\e941";
$icon-hi5: "\e942";
$icon-hype-machine: "\e943";
$icon-hyves-social-network: "\e944";
$icon-icq-flower: "\e945";
$icon-instagram: "\e946";
$icon-instapaper: "\e947";
$icon-itunes: "\e948";
$icon-kickstarter: "\e949";
$icon-kik: "\e94a";
$icon-kik-messenger: "\e94b";
$icon-krop-l: "\e94c";
$icon-lastfm: "\e94d";
$icon-letter-p-symbol: "\e94e";
$icon-like: "\e94f";
$icon-linkedin: "\e950";
$icon-linkedin-f: "\e951";
$icon-male: "\e952";
$icon-meetup: "\e953";
$icon-messenger: "\e954";
$icon-metacafe: "\e955";
$icon-ming-circular-dots-lines: "\e956";
$icon-mister-wong: "\e957";
$icon-mixx: "\e958";
$icon-mixx-dj-software: "\e959";
$icon-mobileme: "\e95a";
$icon-msn-messenger: "\e95b";
$icon-myspace: "\e95c";
$icon-myspace-1: "\e95d";
$icon-myspace-social-network: "\e95e";
$icon-newsvine: "\e95f";
$icon-officialfm: "\e960";
$icon-openid: "\e961";
$icon-orkut-l: "\e962";
$icon-pandora-letter: "\e963";
$icon-path: "\e964";
$icon-paypal: "\e965";
$icon-pencil-of-gross: "\e966";
$icon-periscope: "\e967";
$icon-photo: "\e968";
$icon-photobucket: "\e969";
$icon-picasa: "\e96a";
$icon-pin: "\e96b";
$icon-ping: "\e96c";
$icon-pingchat: "\e96d";
$icon-pinterest: "\e96e";
$icon-place: "\e96f";
$icon-playstation: "\e970";
$icon-plixi: "\e971";
$icon-plurk: "\e972";
$icon-podcast: "\e973";
$icon-qik: "\e974";
$icon-quora: "\e975";
$icon-rdio: "\e976";
$icon-readernaut: "\e977";
$icon-reddit: "\e978";
$icon-reddit-1: "\e979";
$icon-reddit-alien-head: "\e97a";
$icon-retweet-arrows-couple: "\e97b";
$icon-roboto: "\e97c";
$icon-rss: "\e97d";
$icon-scribd: "\e97e";
$icon-sharethis: "\e97f";
$icon-shark-fin: "\e980";
$icon-simplenote-application: "\e981";
$icon-skype: "\e982";
$icon-slashdot-news: "\e983";
$icon-slideshare: "\e984";
$icon-smile: "\e985";
$icon-smugmug: "\e986";
$icon-snapchat: "\e987";
$icon-soundcloud: "\e988";
$icon-speech-bubble: "\e989";
$icon-spotify: "\e98a";
$icon-spotify-1: "\e98b";
$icon-squarespace: "\e98c";
$icon-squidoo: "\e98d";
$icon-steam: "\e98e";
$icon-stumbleupon: "\e98f";
$icon-stumbleupon-1: "\e990";
$icon-team-viewer: "\e991";
$icon-technorati: "\e992";
$icon-telegram: "\e993";
$icon-threewordsme: "\e994";
$icon-tribenet: "\e995";
$icon-tripit: "\e996";
$icon-tumblr: "\e997";
$icon-twitch: "\e998";
$icon-twitter-l1: "\e999";
$icon-twitter: "\e99a";
$icon-twitter-1: "\e99b";
$icon-twitter-l: "\e99c";
$icon-viddler: "\e99d";
$icon-vimeo: "\e99e";
$icon-vine: "\e99f";
$icon-virb: "\e9a0";
$icon-vk: "\e9a1";
$icon-w3: "\e9a2";
$icon-wattpad: "\e9a3";
$icon-whatsapp-f: "\e9a4";
$icon-whatsapp: "\e9a5";
$icon-wikipedia: "\e9a6";
$icon-windows: "\e9a7";
$icon-wists: "\e9a8";
$icon-wordpress: "\e9a9";
$icon-wordpress-f: "\e9aa";
$icon-xing: "\e9ab";
$icon-yahoo: "\e9ac";
$icon-yahoo-1: "\e9ad";
$icon-yahoo-buzz: "\e9ae";
$icon-yahoo-smiley: "\e9af";
$icon-yelp: "\e9b0";
$icon-youtube-play: "\e9b1";
$icon-youtube: "\e9b2";
$icon-zerply-l: "\e9b3";
$icon-zootool: "\e9b4";
$icon-zynga: "\e9b5";

