 #main {
 	@extend %clearfix;
 }

 #content {
 	float: left;
 	width: 70%;
 	&:only-child{
 		float:none;
 		width:100%;
 	}
 }

 #sidebar {
 	float: right;
 	width: 25%;
 	#wp-calendar {
 		width:100%;
 	}
 }

// footer-at-bottom start 
@include media('≥tablet') {
	html,
	body {height:100%;}
	.page-holder {
		height:100%;
		display: table;
		table-layout: fixed;
		overflow: hidden;
		width: 100%;
	}
	#wrapper {
		display:table-cell;
		margin:0 auto;
	}

	#footer {
		overflow:hidden; /*for FF on Windows 7*/
		display:table-footer-group;
		height:1%;
	}
} 
// footer-at-bottom end 


.widget {
	margin-bottom: $vertical-rhythm;
	@extend %clearfix;
	ul {
		padding-left: 2em;
	}
	select {
		min-width: 150px;
	}
}

.comment-form {
	label {
		display: block;
		padding-bottom: 4px;
	}
	textarea {
		overflow: auto;
		margin: 0;
		height: 120px;
		min-height: 120px;
	}
	textarea,
	input[type='text'] {
		margin: 0 4px 0 0;
		max-width: 300px;
		width:100%;
	}
	input[type='submit'] {
		display: block;
		float: none;
	}
}

.post-password-form {
	label {
		display: block;
		margin-bottom:4px;
	}
	input[type='password'] {
		margin: 0 4px 0 0;
		max-width: 300px;
		width:100%;
	}
}

.search-form {
	@extend %clearfix;
	margin-bottom:15px;
	input {
		float: left;
		height: 2em;
		&[type='search'] {
			margin: 0 4px 0 0;
			width: 150px;
		}
	}
}

.post-password-form {
	p {
		@extend %clearfix;
	}
	input {
		float: left;
		height: 2em;
		&[type='password'] {
			width: 150px;
		}
	}
}

.comment-form,
.post-password-form,
.search-form {
	input[type='submit'] {
		background: $btn-background;
		color: $btn-color;
		height: 2em;
		border: none;
		padding: 0 .5em;
		&:hover {
			opacity: 0.8;
		}
	}
}

.commentlist {
	margin: 0 0 $vertical-rhythm;
	.edit-link {
		margin: 0;
	}
	.avatar-holder {
		float: left;
		margin: 0 $vertical-rhythm 4px 0;
	}
}

.commentlist-item {
	.commentlist-item {
		padding: 0;
		@include media(">=tablet") {
			padding: 0 0 0 2em;
		}
	}
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: $vertical-rhythm;
}

.widget_calendar {
	#next {
		text-align: right;
	}
}

.gallery-item {
	dt {
		float: none;
		padding: 0;
	}
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: $vertical-rhythm;

	.screen-reader-text {
		position: absolute;
		left: -99999px;
	}

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		padding: 0 .4em;
		@include media('<tablet') {
			padding:0 3px;
		}
	}

	.next,
	.prev {
		display: inline-block;
		vertical-align: middle;
		max-width: 48%;
		background: $btn-background;
		color: $btn-color;
		padding: .4em;
		text-decoration: none;
		@include media('<tablet') {
			padding:.2em;
		}
		&:hover{
			opacity:0.8;
		}
	}
}

.navigation-single{
	@extend %clearfix;
	margin-bottom: $vertical-rhythm;
	.next,
	.prev {
		float: left;
		vertical-align: middle;
		max-width: 48%;
		background: $btn-background;
		color: $btn-color;
		text-decoration: none;
		&:hover{
			opacity:0.8;
		}
		a {
			color: inherit;
			text-decoration: none;
			padding: .4em;
			display: block;
			@include media('<tablet') {
				padding:.2em;
			}

		}
	}
	.next {
		float: right;
	}
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid $gray;
	padding: .4em;
	margin-bottom: $vertical-rhythm;
	img {
		margin: 0;
		vertical-align: top;
	}
	p {
		margin: .4em 0 0;
	}
}

div.aligncenter {
	margin: 0 auto $vertical-rhythm;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 $vertical-rhythm 4px 0; 
}

.alignright {
	float: right;
	margin: 0 0 4px $vertical-rhythm; 
}

.mejs-container {
	margin-bottom: $vertical-rhythm;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

iframe {
	width: 100%;
	height: auto;
}

#wp-calendar {
	tbody {
		td {
			text-align:center;
		}
	}
	td,
	th {
		border:1px solid $gray;
	}
}
body {

}