
.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  color: $btn-color;
  background-color: $btn-background;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid $black;
  text-decoration: none;
  @include button-size(12px, 12px, $font-size-base, $btn-line-height, $btn-border-radius);
  @include hover-focus {
    transition: all .3s ease-in;
    transition-property: background-color, color;
    color: $btn-hover-color;
    background-color: $btn-hover-background;
  }
}
